
.background{
    background-color: rgb(220, 238, 170);
     height: 100vh;
    
}

.top-design{
    height: 35%;
    border-radius:  0 0 0 250px;
    background-color: rgb(115, 148, 73);
}

.title{
  margin: 45px;
}
.category{
  margin: 0 0 0 120px;
}
.custom-table{
margin-left: 15px;
overflow-x: scroll;
height:100px
}
th{
  border-radius: 10px;
  padding: 10px;
  background-color:rgb(98, 126, 62);
}
td {
  background-color:rgba(115, 148, 73, 0.626);
  color: white;
  border-radius: 5px;
} 
.custom-button{
  background-color: rgb(134, 118, 66);
  padding: 5px;
  color: white;
}